<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <title>YouTube Analyser: {{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="body">
    
    <div class="container-dropdown">
        <div class="dropdown">
            <button class="dropbtn">
                <div class="div-x"></div>
                <div class="div-x"></div>
                <div class="div-x"></div>
            <div class="dropdown-content">
              <a href="{{url_for('overview', user = user, test = test)}}">Home</a>
              <a href="{{url_for('views', user = user, test = test)}}">Views</a>
              <a href="{{url_for('likes_comments', user = user, test = test)}}">Likes / Comments</a>
              <a href="{{url_for('about', user = user, test = test)}}">About</a>
              <a href="{{url_for('landing')}}">New search</a>
            </div>
          </div>
          
    </div>
    <div class="container-title">
        {%block stats%}
        <h1 class="neonText pulsate">
             {{user}}
        </h1> 
        
        <h5 class="neonText pulsate">
            Videos : {{video_count}} &emsp; Views : {{view_count}} &emsp; Subscribers: {{subscriber_count}} 
        </h5>
        <h5 class="neonText pulsate">
            Videos analyzed : {{total_found}}
        </h5>
        {%endblock stats%}
     </div>
    <div class="float-container">
        {%block content%}
        
        

        {%endblock content%}
    </div>
</div>

        


    
</body>
</html>