{%extends "layout.html"%}
{%block content%}



<h2>Video Averages</h2>

<div class="float-child-quarter">
    <img src="/static/thumb.png" alt="Italian Trulli" style="width: 400px;height: 200px;">
    <h3> Likes: {{avg_likes}}</h3>  
</div>
<div class="float-child-quarter"> 
    <img src="/static/comment.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Comments: {{avg_comments}}</h3> 
</div>

<div class="float-child-quarter">
    <img src="/static/views.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Views: {{avg_views}}</h3>  
</div>

<div class="float-child-quarter">
    <img src="/static/duration.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Duration: {{avg_duration}} mins</h3>  
</div>

<h2>Publish Frequency</h2>
<div class="float-child-full">
    <img src="/static/freq.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> On average {{user}} posts every {{average_post}}  hours</h3>  
</div>




{%endblock content%}