{%extends "layout.html"%}
{%block content%}


<h2>Video Averages</h2>

<div class="float-child-avg">
    <img src="/static/thumb.png" alt="Italian Trulli" style="width: 400px;height: 200px;">
    <h3> Likes : </h3>  
</div>
<div class="float-child-avg"> 
    <img src="/static/comment.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Comments : </h3> 
</div>

<div class="float-child-avg">
    <img src="/static/views.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Views: </h3>  
</div>

<div class="float-child-avg">
    <img src="/static/duration.png" alt="Italian Trulli" style="width: 200px;height: 200px;">
    <h3> Duration: </h3>  
</div>


{%endblock content%}