body{
    background-image: url("/static/videoplayback.mp4");
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), #b90000);
    background-repeat:no-repeat;
    background-size: 100%;
    height:  100%;
}     


.float-child {
  width: 50%;
  height: 100vh;
  float: left;
  padding: 20px;
  
}
.content-buttons{
  position:absolute;
  top: 0;
  color: #f1f1f1;
  width: 10%;
  padding: 20px;
  text-align: center;
}


.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
    
/* Add some content at the bottom of the video/page */
.content-vid {
    margin-bottom: 20%;
    position:absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the button used to pause/play the video */
  .myBtn {
    width: 400px;
    font-size: 24px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    margin-top: 2%;
    
  }
  
  .myBtn:hover {
    font-size: 30px;
    
  }

  form {
    width: 40%;
    height: auto;
    padding: auto;
    margin: auto;
    align-items: center;
    align-content: center;
   
  }
  .btn{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 2%;
    
  }

  .btn:hover {
    background: #ddd;
    color: black;
  }
 

/* Modal button
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: #fff;
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  
}

/* NEON HEADINGS*/
.neonText {
  color: #000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgba(156, 11, 59, 0),
    0 0 82px rgba(156, 11, 59, 0),
    0 0 92px rgba(156, 11, 59, 0),
    0 0 102px rgba(156, 11, 59, 0),
    0 0 151px rgba(156, 11, 59, 0);
}


/* Additional styling */

body {
font-size: 18px;
font-family: "Helvetica Neue", sans-serif;
background-color: #010a01;
}  

h1, h2 {
text-align: center;
text-transform: uppercase;
font-weight: 400;
}

h1 {
  font-size: 4.2rem;
}

.pulsate {
   animation: pulsate 1.5s infinite alternate;     
}

h2 {
  font-size: 1.8rem;
}

.container {
margin-top: 20vh;
}

@keyframes pulsate {
  
100% {

    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgba(156, 11, 59, 0),
    0 0 80px rgba(156, 11, 59, 0),
    0 0 90px rgba(156, 11, 59, 0),
    0 0 100px rgba(156, 11, 59, 0),
    0 0 150px rgba(156, 11, 59, 0);

}

0% {

  text-shadow:
  0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #fff,
  0 0 10px rgba(156, 11, 59, 0),
  0 0 45px rgba(156, 11, 59, 0),
  0 0 55px rgba(156, 11, 59, 0),
  0 0 70px rgba(156, 11, 59, 0),
  0 0 80px rgba(156, 11, 59, 0);

}